body {
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 50px;
	font-weight: 800;
	padding: 10px;
	background-color: #e8a7ff;
}

form {
	background-color: #caffe8;
	padding: 10px;
}

div {
	margin-top: 10px;
}

div:first-child{
	margin-top: 0;
}

#FlaskMsg {
	font-size: 25px;
	background-color: #ffd6a7;
}