<!DOCTYPE html>

<head>
    <title>Hello World</title>
    <!-- <link href="/static/base.css" rel="stylesheet" type="text/css" /> -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet" />
</head>

<body>
    <h1>
        HI THERE
    </h1>
    <form method="post" action="/" enctype="multipart/form-data">
                    
                 <label>Source Image:</label>
                 <span> <input type="file" name="file" autocomplete="off" required></span>
                     <input type="submit" value="Upload">
        </form>
</body>
